* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html,
body {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  padding: 0.68rem 0;
  align-items: center;
  justify-content: space-between;
}

.searchDiv {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0;
  position: relative;
  flex: 1;
  min-width: 0;
}
#searchbar {
  padding: 0.8rem 2.3rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #d9d9d9;
  width: 100%;
  max-width: 300px;
  line-height: 1;
}
#mountain {
  padding: 0.8rem;
  border: 1px solid #d9d9d9;
  border-left: none;
  width: 100%;
  max-width: 300px;
}

#loupe1 {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#loupe2 {
  cursor: pointer;
  background-color: #f65858;
}
.loupeDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #f65858;
}
.notifications {
  display: flex;
  margin-right: 2.5rem;
  align-items: center;
  gap: 1.5rem;
  white-space: nowrap;
}
.signup {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #00798a;
  cursor: pointer;
}
.language {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }
  header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "logo notifications"
      "search search";
    gap: 0.5rem;
    align-items: start;
    justify-items: center;
    margin: 0;
  }

  header > a {
    grid-area: logo;
    justify-self: center;
  }

  .notifications {
    grid-area: notifications;
    justify-self: center;
    display: flex;
    gap: 0.5rem;
    margin-left: 0;
    font-size: 0.75rem;
  }

  .searchDiv {
    grid-area: search;
    width: 90%;
    max-width: 300px;
    margin: auto;
  }

  #searchbar {
    max-width: 250px;
    width: 100%;
  }

  #searchbar {
    padding: 0.7rem 2.5rem;
  }
  #mountain {
    display: none;
  }
  .loupeDiv {
    padding: 0.6rem 1rem;
  }
}
