.heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 7rem;
  align-items: center;
  gap: 6rem;
  margin-top: 5rem;
  h1 {
    font-size: 2.6rem;
    font-weight: 700;
    max-width: 600px;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
}
.peopleTextContainer {
  display: flex;
  flex-direction: column;
  max-width: 610px;

  #mainText {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }
  #join {
    width: 125px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 300;
    background-color: #00798a;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
.eventsNear {
  margin-top: 7rem;
  margin-left: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;

  h1 {
    font-size: 1.75rem;
  }
  .locationSelect {
    margin-left: 1rem;
    width: 100%;
    max-width: 240px;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #00798a;
    gap: 1rem;
    background-color: rgb(151, 202, 209, 0.12);
    border-radius: 0.5rem;
    padding: 0.6rem;
  }
}
#seeAll {
  margin-left: auto;
  align-self: center;
  margin-right: 15rem;
  color: #00798a;
}
.eventsCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem 7rem 7rem 7rem;
}
.event-card_body {
  max-width: 272px;
  padding-top: 0.7rem;
}
.event-card_title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}
.event-card_meta {
  font-size: 0.9rem;
  color: #555555;
  margin-bottom: 1rem;
}
.kalendar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.event-card_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.onlineEvents {
  margin-top: 7rem;
  margin-left: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;

  h1 {
    font-size: 1.75rem;
  }
}
.eventsOnlineCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem 7rem 7rem 7rem;
}
.joinMeetup {
  margin-top: 3rem;
  margin-left: 7rem;
  margin-bottom: 7rem;
  width: 100%;
  max-width: 1192px;
  padding: 3.5rem 2.25rem;
  font-size: 1rem;
  background-color: rgb(151, 202, 209, 0.08);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
#signupButton {
  cursor: pointer;
  padding: 0.75rem 4rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #e32359;
  color: #ffffff;
  max-width: 192px;
}
.textContentJoinMeetup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 665px;
}

.topCategories {
  margin-left: 7rem;
  margin-bottom: 3rem;
  font-weight: 500;

  h1 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 600;
  }
}

.categoriesContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 7rem;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(151, 202, 209, 0.08);
  border-radius: 0.5rem;
  cursor: pointer;
  word-wrap: break-word;
}
.category-card_title {
  text-align: center;
}
.title {
  font-size: 1.75rem;
  margin-left: 7rem;
  margin-bottom: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.titleText {
  color: #707070;
  margin-left: 7rem;
  margin-bottom: 1.75rem;
}
.cityCards {
  display: flex;
  margin-left: 7rem;
  gap: 2rem;
  margin-bottom: 4rem;
}
.city {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 500;
}
.howWorksContainer {
  display: flex;
  gap: 2rem;
  margin-left: 7rem;
  margin-bottom: 4rem;
}
.howWorksCard {
  width: 36rem;
  height: 11.25rem;
  padding: 2rem 1.5rem;
  background-color: rgb(151, 202, 209, 0.08);
  border-radius: 0.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  p {
    color: #707070;
    line-height: 1.4;
    max-width: 360px;
  }
  .lernMore {
    color: #00798a;
    font-weight: 600;
    cursor: pointer;
  }
}
.workstext {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.friendshipContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1.75rem;
  gap: 2rem;
  max-width: 1192px;
  margin-left: 7rem;
  text-align: center;
  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .friendshipText {
    color: #707070;
    line-height: 1.5;
    margin-top: 0.75rem;
  }
}
.friendshipCard {
  text-align: left;
  max-width: 23.5rem;
}
.learnMore {
  color: #00798a;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
}
