* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html,
body {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  padding: 0.68rem 0;
  align-items: center;
  justify-content: space-between;
}

.searchDiv {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0;
  position: relative;
  flex: 1;
  min-width: 0;
}

#searchbar {
  padding: 0.8rem 2.3rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #d9d9d9;
  width: 100%;
  max-width: 300px;
  line-height: 1;
}

#mountain {
  padding: 0.8rem;
  border: 1px solid #d9d9d9;
  border-left: none;
  width: 100%;
  max-width: 300px;
}

#loupe1 {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#loupe2 {
  cursor: pointer;
  background-color: #f65858;
}

.loupeDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #f65858;
}

.notifications {
  display: flex;
  margin-right: 2.5rem;
  align-items: center;
  gap: 1.5rem;
  white-space: nowrap;
}

.signup {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #00798a;
  cursor: pointer;
}

.language {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }
  header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo notifications" "search search";
    gap: 0.5rem;
    align-items: start;
    justify-items: center;
    margin: 0;
  }
  header > a {
    grid-area: logo;
    justify-self: center;
  }
  .notifications {
    grid-area: notifications;
    justify-self: center;
    display: flex;
    gap: 0.5rem;
    margin-left: 0;
    font-size: 0.75rem;
  }
  .searchDiv {
    grid-area: search;
    width: 90%;
    max-width: 300px;
    margin: auto;
  }
  #searchbar {
    max-width: 250px;
    width: 100%;
  }
  #searchbar {
    padding: 0.7rem 2.5rem;
  }
  #mountain {
    display: none;
  }
  .loupeDiv {
    padding: 0.6rem 1rem;
  }
}
.footerContent {
  background-color: #212121;
  width: 100%;
  padding: 2rem 12.25rem;
}

.createmeetup {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #f6f7f8;
  font-weight: 600;
}
.createmeetup button {
  background-color: #212121;
  border: 3px solid #f6f7f8;
  border-radius: 0.5rem;
  color: #f6f7f8;
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}

.line {
  height: 1px;
  background-color: #707070;
  margin: 1.5rem 0;
}

.columns {
  display: flex;
  justify-content: space-between;
  color: #f6f7f8;
  max-width: 800px;
  margin-bottom: 2rem;
}

.footerColumn h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
}
.footerColumn p {
  color: #c5c4c4;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}

.footerIcons h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: #f6f7f8;
}
.footerIcons .apps {
  display: flex;
  gap: 2rem;
}

.flexIcons {
  display: flex;
  justify-content: space-between;
}

.columnsIcons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.footerBottom {
  color: #c5c4c4;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .footerContent {
    padding: 1rem;
  }
  .columns {
    margin-bottom: 1rem;
  }
  .footerIcons h3 {
    margin-bottom: 0;
  }
  .columnsIcons {
    gap: 1rem;
  }
  .mobileNone {
    display: none;
  }
  .loadapps {
    display: none;
  }
  .footerBottom {
    margin-top: 1rem;
  }
}
.mainContent {
  display: flex;
  justify-content: space-between;
  padding: 5rem 6rem 5rem 7rem;
}

.firstSection {
  display: flex;
  flex-direction: column;
}
.firstSection h1 {
  font-weight: 500;
  font-size: 1.75rem;
}

.learnMore {
  color: #00798a;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 0.8rem;
  margin-top: 1rem;
}

.filterContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.filter {
  border: none;
  border-radius: 40px;
  background-color: #f6f7f8;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.eventsSection {
  width: 100%;
  max-width: 37.5rem;
}

.eventNY-card {
  display: flex;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid #d9d9d9;
}

.eventNY-card_date {
  color: #7c6f50;
  font-size: 0.75rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
  letter-spacing: 0.35px;
  text-transform: uppercase;
}

.eventNY-card_title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #212121;
}

.eventNY-card_meta {
  font-size: 0.75rem;
  color: #707070;
}

.attending {
  font-size: 0.75rem;
  color: #707070;
  margin-top: 3rem;
}

.secondColumn {
  position: relative;
}
.secondColumn p {
  font-size: 0.75rem;
}
.secondColumn h3 {
  font-size: 1.25rem;
}
.secondColumn #map {
  position: absolute;
  top: 12%;
  left: 25%;
  z-index: 2;
}

@media (max-width: 600px) {
  .mainContent {
    flex-direction: column;
    padding: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .firstSection h1 {
    font-size: 1rem;
  }
  .filterContainer {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0.5rem;
  }
  .eventsSection {
    max-width: 100%;
  }
  .secondColumn {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .mainContent {
    padding: 2rem;
  }
  .secondColumn {
    display: none;
  }
}/*# sourceMappingURL=page2.css.map */